## Numismática México

El proyecto de Numismática México tiene como objetivo principal implementar una estrategia de análisis de datos innovadora para optimizar las ventas y la experiencia del cliente en los eventos de fin de año. A través de la implementación de estrategias basadas en data storytelling, se pretende generar valor para la empresa buscando potenciar la toma de decisiones basada en datos, identificando oportunidades de crecimiento y mejorando la rentabilidad del negocio.

Numismática Mexico es una empresa especializada en ofrecer productos numismáticos a través de una plataforma marketplace.

**NECESIDADES DEL NEGOCIO**


El director de Marketing de NM (Numismática Mexico), está preparando la estrategia comercial para los eventos de fin de año, eventos que comercialmente aportan los mayores ingresos para la empresa, por lo que, con base en el histórico de ventas) tiene especial interés en obtener respuesta a las siguientes preguntas, considerando únicamente los meses de noviembre y diciembre:

▪ ¿Qué días por mes, han sido los más relevantes en cuanto a
ingresos?

▪ ¿Qué productos han tenido las mayores ventas. (Top Ten) ?

▪ Geográficamente, mostrar las ventas por Estado

▪ Tiempos de entrega promedio, por día.


De igual forma requiere poder analizar los datos de forma dinámica, por lo que solicita un tablero de control que le permita apreciar por rangos de fecha:

▪ KPI's de: Ventas, Cantidad de Unidades vendidas, Ventas por Publicidad, Ventas sin publicidad y Ventas Totales.

▪ Visualización donde se puedan apreciar las ventas con y sin publicidad por día .

▪ Ventas por producto

▪ Ventas por Estado

Además requiere que las visualizaciones de Ventas por producto y Ventas por Estado se filtren con base en el día que se seleccione de la visualización de las ventas con y sin publicidad.

## Etapa 1 Contexto del problema, entender los datos.

Actividades Previas:

• Identificar el contexto de la numismástica y del ecommerce.

• Entender los requerimiento del negocio del proyecto

• Conocer y explorar los datos.


#### Actividades a entregar

• Datos del proyecto : Un breve encabezado con el nombre del Proyecto.

• Presentación de objetivos e idea: En cuatro o cinco líneas, su lectura debe ayudar a comprender de qué proyecto se trata. Hay que resaltar la idea que lo hace diferente y el objetivo básico que persigue.

• Beneficios del proyecto: Resaltar los beneficios que aportará al negocio el implementar el proyecto de analítica, logrando definir una estrategia sustentada en los datos.

• Definir Indicadores del negocio: Generar una tabla que contenga los siguientes puntos:

• Identificar KPIs.

• Preguntas que responden los tipos de análisis.

• Tipos de datos que se pueden analizar (Se pueden incluir datos proporcionados).

In [1]:
# Exploración de los datos

import pandas as pd

file_name = 'Ventas Numismática MéxicoversAgo.xlsx'
df = pd.read_excel(file_name)

Después de la exploración visual del data frame podemos ver que los datos de los que disponemos son:

| Campo | Tipo de dato | Descripción |
|:-----------|:-----------:|-----------|
| IDVenta | Numérico | Identificador de la venta |
| Unidades | Numérico (Entero) | Unidades que se vendieron |
| Ingresos por productos (MXN) | Numérico (float) | Ingresos brutos |
| Cargo por venta e impuestos | Numérico (float) | Impuestos o gastos por deducir |
| Costos de envío | Numérico (float) | Impuestos o gastos por deducir |
| Total (MXN) | Numérico (float)| Ingresos netos |
| Venta por publicidad | Booleano | Fue una venta espontanea o por campaña |
| IDproducto | Numérico | Identificador del producto |
| Canal de venta | String (categorico) | Plataforma por donde se vendió |
| Precio unitario de venta de la publicación (MXN | Valor 10,2 | Impuestos o gastos por deducir |
| Municipio/Alcaldía	 | String (categorico) | Alcaldía de destino |
| Estado | String (categorico) | Estad de destino |
| Código postal | Numérico | Dirección de destino |
| Forma de entrega | String (categorico) | Medio de envio |
| Transportista | String (categorico) | - |
| Fecha Venta | Date | - |
| FechaCamino | Date | - |
| FechaEntrega | Date | - |

Se nos dice que debemos limitar el análisis de los meses de noviembre y diciembre; además dado que se busca preparar la estretegia del negocio del proximo año, y considerando las preguntas claves que nos dan, podemos centrar el análisis en saber:

* Si las ventas por publicidad generan un incremento en las KPIS contrastadas con las ventas naturales

* El top ten de productos vendidos

* Estados para enfocar (podemos buscar caracteristicas en los de mejores ventas y aplicar estrategias en los de bajas)

* Mismo caso pa productos

* Tiempos de entrega (ver que distribuidor lo hace mejor y si influye en las KPI's)

In [2]:
from datetime import datetime

# Convertimos a datetime para poder manejar y filtrar la fecha
df['Fecha Venta'] = pd.to_datetime(df['Fecha Venta'], format = '%d/%m/%Y').dt.date

# Vemos que años hay de información
fecha = sorted(list(df['Fecha Venta'].unique()))

"""Lo anterior muetra que hay ventas desde septiembre de 2021 hasta septiembre de 2022"""
"""Por lo que extraemos noviembre y diciembre de 2021"""

df = df[(df['Fecha Venta'] >= datetime(2021,11,1).date())&(df['Fecha Venta'] <= datetime(2021,12,31).date())]
df.reset_index(drop=True, inplace=True)

In [3]:
# Obtenemos la información de los productos más vendidos
top_ten = df['IDproducto'].value_counts().reset_index()
top_ten.columns = ['IDproducto', 'Frecuencia']

# Obtenemos la información de los productos más vendidos particionados por estado
top_ten_by_state = df.groupby(by=['IDproducto', 'Estado']).size().reset_index(name='Frecuencia')
top_ten_by_state = top_ten_by_state.sort_values(by=['Estado', 'Frecuencia'], ascending=[True, False])

In [4]:
# Ventas por producto
top_ten.head(10)

      IDproducto  Frecuencia
0   MLM797896213         237
1   MLM775876787         127
2   MLM797897673          95
3   MLM803071179          38
4   MLM937274388          33
5   MLM759252135          21
6   MLM774183442          15
7   MLM797899556          11
8   MLM926168327           9
9  MLM1339790000           8

In [5]:
# Ventas por estado

top_ten_states = df.groupby(by='Estado').size().reset_index(name='Frecuencia')
top_ten_states = top_ten_states.sort_values(by='Frecuencia', ascending=False)
top_ten_states.head(10)

              Estado  Frecuencia
10  Estado De México          83
8   Distrito Federal          64
14           Jalisco          53
29          Veracruz          42
18        Nuevo León          37
11        Guanajuato          30
5          Chihuahua          29
6           Coahuila          28
20            Puebla          25
15         Michoacán          23

In [6]:
# Ventas por publicidad
sales_by_publicity = df['Venta por publicidad'].value_counts().reset_index()
sales_by_publicity.columns = ['Venta por publicidad', 'Num. ventas']

sales_by_publicity

  Venta por publicidad  Num. ventas
0                   No          516
1                   Sí          116

In [18]:
df['month'] = df['Fecha Venta'].apply(lambda x: x.month)

important_days = df.groupby(by=['month', 'Fecha Venta']).size().reset_index(name='Num Ventas')

november_importants = important_days[important_days['month']==11].sort_values(by='Num Ventas', ascending=False).head(10)
december_importants = important_days[important_days['month']==12].sort_values(by='Num Ventas', ascending=False).head(10)

# Dias mas relevantes en cuanto a ingresos
# Tiempos de entrega por dia

In [19]:
november_importants

    month Fecha Venta  Num Ventas
7      11  2021-11-08          21
29     11  2021-11-30          16
8      11  2021-11-09          15
28     11  2021-11-29          14
0      11  2021-11-01          14
10     11  2021-11-11          13
24     11  2021-11-25          12
20     11  2021-11-21          12
16     11  2021-11-17          11
25     11  2021-11-26          11

In [ ]:
december_importants